<!--menu-->
<nav class="navbar fixed-top">
    <button class="btn btn-md btn-info pull-right">Выйти</button>
    <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="#">Информационная панель</a></li>
        <li role="presentation" class="active"><a href="#">Персоналии</a></li>
        <li role="presentation"><a href="#">События</a></li>
        <li role="presentation"><a href="#">Загрузка файлов</a></li>
    </ul>
    <h3 >Метрическая книга</h3>
</nav>
<div class="container">

    <div class="jumbotron">
        <ui-view></ui-view>
    </div>
</div>
<!-- /container -->
<div class="customfooter">
    <!--<div class="container">-->
    <footer class="footer">
        <p>© 2017 </p>
    </footer>
    <!--</div>-->
</div>